@import url('https://fonts.googleapis.com/css2?family=REM&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'REM', sans-serif;
}

/* CORPO */

html {
    width: 100%;
    scroll-behavior: smooth;
}

body {
    background-image: url('../imgs/fundo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}


/* HEADER */

header {
    width: 100%;
    background-color: #ffffff;
    padding: 0.5rem 0rem;
    text-align: center;
    margin-bottom: 110px;
    box-shadow: 10px 10px 10px 5px rgba(255, 255, 255, 0.2);
}

h1 {
    padding: 5px;
}

/* MAIN */

main {

    background-color: white;
    padding: 10px;
    border-radius: 12px;
    width: 100%;
    max-width: 500px;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* 1. CONTENT - ESCOLHA */

.choice {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    align-items: center;
}

.choice span {
    width: 140px;
    text-align: center;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    color: black;
    transition: 0.2s;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.choice span:hover {
    transform: scale(1.1);
}

.geografia {
    background-color: #9a5833;
}

.historia {
    background-color: #F7C942;
}

.matematica {
    background-color: #5cb8ff;
}

.biologia {
    background-color: #70ff63;
}

.quimica {
    background-color: #FF6633;
}

.literatura {
    background-color: #ff6961 ;
}

.choice-off {
    display: none;
}

/* 2. CONTENT - JOGO */

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.content-off {
    display: none;
}

.spnQtd {
    font-size: 18px;
    text-align: end;
    margin-right: 5px;
}

.question {
    font-size: 16px;
    margin-bottom: 20px;
}

.answers {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 40px;
}

.answers button { 
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: #10b3ff;
    color: black;
    border: 1px solid black;
}

button:hover {
    background-color: #99dfff;
    
}

.tag {
    display: flex;
    justify-content: center;
    width: 25%;
    padding: 3px 4px;
    border-radius: 15px;
}

/* 3. CONTENT - FEEDBACK */
  
.finish {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
  
.finish-on {
    display: flex;
}

.finish button {
    text-align: center;
    width: 50%;
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: #0070a4;
    color: white;
}

.finish button:hover {
    opacity: 70%;
}

.feedback {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 15px;
}

.feedback p{
    font-size: 14px;
}

.green {
    color: green;
}

.red {
    color: red;
}