* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-image: url('./imgs/fundo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

body h1 {
    color: white;
}

main {
    background-color: white;
    padding: 10px;
    border-radius: 12px;
    width: 100%;
    max-width: 500px;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4%;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
}

.content-off {
    display: none;
}

.spnQtd {
    font-size: 28px;
    text-align: end;
}

.question {
    font-size: 25px;
}

.answers {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 40px;
}

button { 
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    cursor: pointer;
    background-color: #0070a4;
    color: white;
}

button:hover {
    opacity: 80%;
}
  
.finish {
    display: none;
    flex-direction: column;
    gap: 10px;
}
  
.finish-on {
    display: flex;
}

.finish button {
    text-align: center;
}

.feedback {
    display: flex;
    flex-direction: column;
}

.green {
    color: green;
}

.red {
    color: red;
}