* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* CORPO */
body {
    background-image: url('./imgs/fundo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

body h1 {
    width: 25%;
    text-align: center;
    background-color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    color: black;

}

/* MAIN */

main {
    background-color: white;
    padding: 10px;
    border-radius: 12px;
    width: 100%;
    max-width: 500px;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4%;
}

/* 1. CONTENT - ESCOLHA */

.choice {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    align-items: center;
}

.choice span {
    display: flex;
    justify-content: center;
    width: 150px;
    text-align: center;
    border: 1px solid black;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    color: black;
    transition: 0.2s;
}

.choice span:hover {
    transform: scale(1.1);
}

.geografia {
    background-color: #9a5833;
}

.historia {
    background-color: #F7C942;
}

.matematica {
    background-color: #5cb8ff;
}

.biologia {
    background-color: #70ff63;
}

.choice-off {
    display: none;
}

/* 2. CONTENT - JOGO */

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.content-off {
    display: none;
}

.spnQtd {
    font-size: 24px;
    text-align: end;
    margin-right: 5px;
}

.question {
    font-size: 22px;
    margin-bottom: 20px;
}

.answers {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 40px;
}

.answers button { 
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    cursor: pointer;
    background-color: #0070a4;
    color: white;
}

button:hover {
    opacity: 80%;
}

.tag {
    display: flex;
    justify-content: center;
    width: 25%;
    padding: 3px 4px;
    border-radius: 15px;
}

.gg-fundo {
    background-color: #9a5833;
}

.ht-fundo {
    background-color: #F7C942;
}

.mt-fundo {
    background-color: #5cb8ff;
}

.bg-fundo {
    background-color: #70ff63;
}

/* 3. CONTENT - FEEDBACK */
  
.finish {
    display: none;
    flex-direction: column;
    gap: 10px;
}
  
.finish-on {
    display: flex;
}

.finish button {
    text-align: center;
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    cursor: pointer;
    background-color: #0070a4;
    color: white;
}

.feedback {
    display: flex;
    flex-direction: column;
}

.green {
    color: green;
}

.red {
    color: red;
}